@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

a {
    text-decoration: none;
    color: #555;
}

.container-navbar {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-txt {
    border: 1px solid #ff523b;
    padding: 5px;
}


.search-btn {
    background-color: #ff523b;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.logo {
    margin-right: 200px;
    font-size: 25px;
    /* Pushes the logo to the left */
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* Media query for menu */
@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }
}